# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# balance
!balance.cpp
!balance.hpp

# collision
!collision.cpp
!collision.hpp

# convert_pose_formats
!convert_pose_formats.cpp
!convert_pose_formats.hpp

# file_ops
!file_ops.hpp
!file_ops.cpp

# random
!random.hpp
!random.cpp
