# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# Cmake
!CMakeLists.txt
!/cmake/
/cmake/*
!/cmake/cmake_uninstall.cmake.in

# Source
!/src/
/src/*

# Headers
!/include/
/include/*

# adrc
!/src/adrc.cpp
!/include/adrc.hpp

# balance
!/src/balance.cpp
!/include/balance.hpp

# collision
!/src/collision.cpp
!/include/collision.hpp

# convert_pose_formats
!/src/convert_pose_formats.cpp
!/include/convert_pose_formats.hpp

# eso
!/include/eso.hpp

# file_ops
!/src/file_ops.cpp
!/include/file_ops.hpp

# lqr
!/src/lqr.cpp
!/include/lqr.hpp

# random
!/src/random.cpp
!/include/random.hpp
