# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# Cmake
!CMakeLists.txt
!/cmake/
/cmake/*
!/cmake/cmake_uninstall.cmake.in

# Source
!/src/
/src/*

# Headers
!/include/
/include/*

!/include/krang-utils.hpp

# krang-utils
!/include/krang-utils/
/include/krang-utils/*

# adrc
!/src/adrc.cpp
!/include/krang-utils/adrc.hpp

# balance
!/src/balance.cpp
!/include/krang-utils/balance.hpp

# collision
!/src/collision.cpp
!/include/krang-utils/collision.hpp

# convert_pose_formats
!/src/convert_pose_formats.cpp
!/include/krang-utils/convert_pose_formats.hpp

# eso
!/include/krang-utils/eso.hpp

# file_ops
!/src/file_ops.cpp
!/include/krang-utils/file_ops.hpp

# linearize_wip
!/src/linearize_wip.cpp
!/include/krang-utils/linearize_wip.hpp

# lqr
!/src/lqr.cpp
!/include/krang-utils/lqr.hpp

# random
!/src/random.cpp
!/include/krang-utils/random.hpp
